*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.managers{
    position: relative;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-content
{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}
.team-content img
{
    width: 50%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}
.center h1{
    color: #fff;
    font-size: 4rem;
    text-align: center;
}
.box
{
    padding: 16px;
    background: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
    width: 500px;

}
.box h3
{
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
    text-align: center;
}
.box h5
{
    font-size: 15px;
    font-weight: 600;
    color: #b7b4bb;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
}
.box :hover
{
    transform: translateY(-10px);
    cursor: pointer;
}